<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="category-content">
  <!-- 카테고리 뷰 내용 -->
  <div class="category-container">
    <!-- 여기에 카테고리 트리 구조가 들어갑니다 -->
    <ul class="category-tree">
      <li class="category-item">
        <span class="category-name">객체지향</span>
        <ul>
          <li class="category-item"><span class="category-name">디자인패턴</span></li>
          <li class="category-item"><span class="category-name">SOLID 원칙</span></li>
        </ul>
      </li>
      <li class="category-item">
        <span class="category-name">네트워크</span>
        <ul>
          <li class="category-item"><span class="category-name">HTTP</span></li>
          <li class="category-item"><span class="category-name">TCP/IP</span></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</body>
</html>