<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- 포스트 메뉴 -->
<div th:fragment="post-menu" class="post-menu">
  <!-- 포스트 메뉴 헤더 -->
  <div class="post-menu-header">
    <ul class="post-menu-tabs">
      <li class="tab-item">
        <button type="button" class="tab-link active" id="graph-tab" data-view="graph">
          <img th:src="@{/images/graph-view-enable.svg}" alt="" class="icon icon-active">
          <img th:src="@{/images/graph-view-disable.svg}" alt="" class="icon icon-inactive">
          <span>그래프로 보기</span>
          <div class="tab-indicator"></div>
        </button>
      </li>
      <li class="tab-item">
        <button type="button" class="tab-link" id="category-tab" data-view="category">
          <img th:src="@{/images/category-view-enable.svg}" alt="" class="icon icon-active">
          <img th:src="@{/images/category-view-disable.svg}" alt="" class="icon icon-inactive">
          <span>카테고리로 보기</span>
          <div class="tab-indicator"></div>
        </button>
      </li>
    </ul>
    <div class="update-info">
      <p>updated at <span th:text="${updateDate}">2025.01.04</span></p>
    </div>
  </div>

  <!-- 콘텐츠 영역 -->
  <div class="content-views">
    <!-- 그래프 뷰 -->
    <div id="graph-view" class="view-content active">
      <!-- 그래프 뷰 내용이 여기에 들어갑니다 -->
      <div th:replace="~{fragments/graph-view :: graph-content}"></div>
    </div>

    <!-- 카테고리 뷰 -->
    <div id="category-view" class="view-content">
      <!-- 카테고리 뷰 내용이 여기에 들어갑니다 -->
      <div th:replace="~{fragments/category-view :: category-content}"></div>
    </div>
  </div>
</div>
</body>
</html>