<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <!-- 프로필 카드 -->
  <div th:fragment="profile-card" class="profile-card">
    <div class="profile-image">
      <img th:src="@{/images/profile.jpg}" alt="프로필 이미지" width="128" height="128" class="rounded-5">
    </div>
    <div class="profile-info">
      <h2 class="profile-name">정한얼(haneolj)</h2>
      <p class="profile-job-title">Backend Developer</p>
      <p class="profile-description">단순한 지식 습득을 넘어 개념들의 유기적 연결을 통해 더 깊이 있는 <br/> 이해를 추구합니다</p>
    </div>
  </div>
</body>
</html>